{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": { "ecmaVersion": 2020 },
    "plugins": ["@typescript-eslint", "jest"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:jest/recommended",
        "plugin:jest/style"
    ],
    "env": { "node": true, "jest/globals": true },
    "settings": { "jest": { "version": 27 } },
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "double"],
        "eol-last": ["error", "always"],
        "@typescript-eslint/no-unused-vars": "warn",
        "@typescript-eslint/no-useless-constructor": "error",
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "max-len": [
            "warn",
            {
                "code": 80,
                "comments": 80,
                "ignoreComments": false,
                "ignoreTrailingComments": true,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true
            }
        ],
        "jest/consistent-test-it": [
            "warn",
            { "fn": "test", "withinDescribe": "it" }
        ],
        "jest/expect-expect": [
            "warn",
            {
                "assertFunctionNames": [
                    "expect",
                    "request.**.expect",
                    "expect*"
                ]
            }
        ],
        "jest/lowercase-name": [
            "error",
            {
                "allowedPrefixes": ["GET", "POST", "PUT", "DELETE"],
                "ignoreTopLevelDescribe": true
            }
        ],
        "jest/no-duplicate-hooks": 1,
        "jest/no-if": 1,
        "jest/no-large-snapshots": 1,
        "jest/no-test-return-statement": 2,
        "jest/prefer-hooks-on-top": 1,
        "jest/prefer-spy-on": 1,
        "jest/prefer-strict-equal": 1,
        "jest/prefer-todo": 1
    }
}
